body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  
}
body {
  width: 800px;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: ghostwhite;
  
}
.clock, .aclock {   
    display: inline-block;
    background: ghostwhite;
    border: 1px solid maroon;
    border-radius: 50%;
    box-sizing: border-box;
    width: 333px;
    height:333px;
    position: relative;
    
}

.a {
  
  position: absolute;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: ivory;
  border: 1px solid maroon;
  left: 150px;
  top: 150px;
  text-align: center;
  font-size: 33px;
  color: maroon;
  z-index: 1;}


.twelve, .three, .six, .nine
{
    position:absolute ;
    width: 33px;
    height: 33px;
    background-color: transparent;
    border-radius: 50%;
    font-size:xx-large;
    text-align: center;
}


.twelve
{
    left: 150px;
}
.three 
{
    right: 1px;
    top: 150px;
}

.six
{
    left: 150px;
    bottom: 6px;
}

.nine
{
    left: 1px;
    top:150px;
}

.hour, .ahour
{
    height: 100px;
    width: 12px;
    background: #333;
    position: absolute;
    border-radius: 6px;
    left: 49%;
    top: 70px;
    opacity: 0.9;
}
.hour {
  animation: tick 43200s infinite linear;
  -webkit-animation: tick 43200s infinite linear;
}
.ahour {
  animation: atick 43200s infinite linear;
  -webkit-animation: atick 43200s infinite linear;
}
.minute, .aminute
{
    height: 140px;
    width: 6px;
    background: #777;
    position: absolute;
    border-radius: 9px;
    left: 50%;
    top: 30px;
  }
.minute {
  animation: tick 3600s infinite linear;
  -webkit-animation: tick 3600s infinite linear;
}
.aminute {
  animation: atick 3600s infinite linear;
  -webkit-animation: atick 3600s infinite linear;
}
.second, .asecond
{
    height: 160px;
    width: 3px;
    background: maroon;
    position: absolute;
    border-radius: 3px;
    margin-left: 49%;
    top: 7px;
    
}
.second {
  animation: tick 60s infinite linear;
  -webkit-animation: tick 60s infinite linear;
}
.asecond {
  animation: atick 60s infinite linear;
  -webkit-animation: atick 60s infinite linear;
}
.hour, .minute, .second, .ahour, .aminute, .asecond
{
    transform-origin: 3px 100%;
    -webkit-transform-origin: 1px 100%;
}

@keyframes tick {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes tick {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes atick {
  to {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes atick {
  to {
    -webkit-transform: rotate(-360deg);
  }
}